@media (max-width: 930px) {
  .header-wrap {
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "title button"
      "timer .";
    gap: 35px;
    margin-bottom: 60px;
  }
}

@media (max-width: 577px) {
  .header-wrap {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "button"
      "timer";
    justify-items: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .main-title {
    font-size: 54px;
  }

  .stopwatch {
    flex-direction: column;
  }

  .btn-wrap {
    justify-self: center;
  }

  .re-btn {
    padding: 15px 13px 15px 20px;
    font-size: 25px;
  }

  .game {
    font-size: 33px;
  }

  .game__desk {
    gap: 10px;
  }

  .card {
    width: 60px;
    height: 60px;
  }

  .hello-txt {
    font-size: 39px;
  }
}